@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #110613;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Background of the scrollbar track */
  backdrop-filter: blur(10px); /* Glassmorphism effect */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); /* Color of the thumb on hover */
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
